// Colores
$color-primario: #004AAD;
$color-secundario: #e0e0e0;
$color-texto: #1e2d40ba;
$color-hover: #003366;
$color-fondo-claro: #f9f9f9;

// Fuentes
$fuente-principal: 'Norwester', Arial, sans-serif;
$fuente-secundaria: 'Roboto', Arial, sans-serif;

// Sombras
$sombra-light: 0 2px 6px rgba(0, 0, 0, 0.1);
$sombra-hover: 0 4px 15px rgba(0, 0, 0, 0.15);

// Border radius
$radius: 10px;
