@use '../utils/variables' as *;

.faq {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;

    h2 {
        color: $color-primario;
        text-align: center;
        margin-bottom: 30px;
    }

    .faq-item {
        margin-bottom: 20px;
        background: $color-fondo-claro;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba($color-primario, 0.07);
    }

    .faq-question {
        margin: 0;
        font-size: 1.2rem;
        color: $color-primario;
        font-weight: bold;
    }

    .faq-answer {
        margin-top: 10px;
        color: #444;
        line-height: 1.5;
    }
}
