@use '../utils/variables' as *;

.secciones-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.promociones-bancarias {
    width: 100%;
    overflow-x: hidden;

    .promo-contenedor {
        max-width: 100%;
        overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        }
    }
}


.seccion {
    flex: 1 1 200px;
    max-width: 45%;
    min-width: 180px;
    background: #ebf3fa;
    border-radius: 12px;
    box-shadow: $sombra-light;
    text-align: center;
    padding: 15px;
    transition: box-shadow 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 300px;

    &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 1rem;
        box-shadow: $sombra-light;
        display: block;
    }
}
